.wrapper {
    width: 80vw;
    max-width: 60em;
}

form {
    display: flex;
    gap: 0.7em;
    flex-wrap: wrap;
}

.field input {
    display: block;
    width: 100%;
    background: #ddd;
    border: none;
    padding: 1em;
    border-radius: 0.3em;
}

form .field:nth-child(1) {
    flex-basis: 15ch;
}

form .field:nth-child(2) {
    flex-basis: 40ch;
}

form > * {
    flex-grow: 1;
    flex-shrink: 1;
}

button {
    background: orange;
    border: none;
    color: #fff;
    padding: 1em 1.5em;
    border-radius: 0.3em;
}