body {
    padding: 2em;
}

.calendar {
    display: flex;
    background: white;
    max-width: 120ch;
    margin: 2em auto;
    padding: 2em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.3);
}

.calendar > * {
    border: 1px solid #aaa;
}

.calendar > main {
    flex-grow: 1;
}

aside article {
    padding: 2em;
    border: 1px solid #aaa;
    flex-grow: 1;
    text-align: center;
}

aside {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.row p {
    border: 1px solid #aaa;
    flex-grow: 1;
    text-align: center;
    padding: 2em;
}

.label > *{
    border: 1px solid #aaa;
    padding: 2em;
    text-align: center;
}
