.wrapper {
    max-width: 900px;
    margin: 2em auto;
    display: flex;
    gap: 2em;
}

article {
    border-radius: 0.3em;
    background: white;
    padding: 2em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    gap: 2em;
}

main { 
    flex-grow: 3;
}

aside {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

aside article {
    flex-direction: column;
    align-items: start;
    flex-grow: 1;
}

aside article section.avatar {
    width: 6em;
}

article + article {
    margin-top: 2em;
}

.content {
    padding-top: 1em;
    flex-shrink: 1;
}

.content p {
    color: #888;
}

.content::before {
    content: '"';
    font-size: 4em;
    line-height: 0.5;
}

.content h3 {
    padding-top: 1em;
}

.avatar {
    flex-shrink: 0;
    width: 7em;
    aspect-ratio: 1/1;
    background-color: rgb(72, 150, 72);
    border: 4px solid white;
    border-radius: 50%;
    box-shadow: 1em 0 1em 0 rgb(0, 0, 0, 0.2);
    overflow: hidden;
}