* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font: 14px/1.5 Verdana, sans-serif;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body {
    font: inherit;
    padding: 2em;
    background-color: #eee;
}
 
.card {
    display: block;
    text-decoration: none;
    color: black;
    width: 400px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.5);
    border-radius: 0.5em;
    overflow: hidden;
}

.card .main strong {
    display: block;
    font-size: 1.1em;
    padding-bottom: 0.4em;
}

.card span,
.card img {
    display: block;
}

.card .media img {
    width: 100%;
    height: auto;
}

.card .main {
    padding: 1.5em 2.5em;
}

.card .footer {
    padding: 1.5em 2.5em;
}

.card .footer > span:nth-child(1) {
    font-weight: bold;
}

.card .footer > span:nth-child(2) {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 0.9em;
    font-style: italic;
}