.wrapper {
    display: flex;
    border: 2px solid blue;
    width: 50ch;
    padding: 1em;
    align-items: flex-start;
    flex-wrap: wrap;
}

.flex-item {
    border: 1px solid black;
    padding: 0.5em;
    background: #eee;
}

div.grow {
    flex-grow: 1;
}

div.second {
    flex-grow: 1;
}

div.proportionally1 {
    flex-grow: 1;
}

div.proportionally2 {
    flex-grow: 2;
}

div.proportionally3 {
    flex-grow: 3;
}