.wrapper {
    display: flex;
    border: 2px solid blue;
    width: 35ch;
    padding: 1em;
    align-items: flex-start;
}

.flex-item {
    border: 1px solid black;
    padding: 1em;
    background: #eee;
}

.custom-order-1 {
    order: 5;
}

.custom-order-2 {
    order: 3;
}

.custom-order-3 {
    order: 1;
}

.custom-order-4 {
    order: 6;
}

.custom-order-5 {
    order: 2;
}

.custom-order-6 {
    order: 4;
}